main {
  height: 100vh;
  display: flex;
}
#section-inputs {
  min-width: 280px;
  flex: 1;
  background: #ccc;
}

#section-visualisation {
  display: flex;
  flex: 3;
  align-items: center;
}
#section-visualisation .river-container {
  position: relative;
  height: 700px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.river {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.wave {
  position: relative;
  left: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation-name: wave;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
#flag-container {
  height: 32px;
  width: 100%;
}
#river-speed-vector {
  position: absolute;
  height: 48px;
  width: 200px;
  z-index: 99;
  margin-top: 16px;
  right: 0;

}

@keyframes wave {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1000px, 0, 0);
  }
}
